<div id="shopify-section-template--15778129412324__image-gallery" class="shopify-section section-gallery">
   <style data-shopify="">
      .block-image-0 .overlay .inner {
      color: #ffffff;
      }.block-image-1 .overlay .inner {
      color: #ffffff;
      }.block-image-2 .overlay .inner {
      color: #ffffff;
      }
   </style>



   <div data-section-type="gallery" data-cc-animate="" class="cc-animate-init -in cc-animate-complete">
      <div class="flexible-layout">
         <div class="column-third img-block block-image-0">
            <a class="img-block__img-wrapper cc-zoom-out cc-animate-init -in cc-animate-complete" href="/collections/the-original-suntoucher" data-cc-animate="cc-zoom-out">
               <div class="lazyload-placeholder loaded" style="padding-top: 137.25%;">
                  <picture>
                     <!--<source data-srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/505W-Q122_0.jpg?v=1643881448&amp;width=640 640w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/505W-Q122_0.jpg?v=1643881448&amp;width=750 750w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/505W-Q122_0.jpg?v=1643881448&amp;width=856 856w" media="(max-width: 480px)" width="428" height="587" sizes="705.2823315118396px" srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/505W-Q122_0.jpg?v=1643881448&amp;width=640 640w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/505W-Q122_0.jpg?v=1643881448&amp;width=750 750w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/505W-Q122_0.jpg?v=1643881448&amp;width=856 856w">-->
                     <img
                        srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
                        {%- if section.settings.image.width >= 550 -%}{{ section.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                        {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                        {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                        {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
                        {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
                        {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                        {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
                        {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
                        src="{{ section.settings.image | image_url: width: 1500 }}"
                        class="img-fit lazyautosizes ls-is-cached lazyloaded"
                        loading="lazy"
                        alt="{{ section.settings.image.alt | escape }}"
                        width="{{ section.settings.image.width }}"
                        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
                    >
                  </picture>
                  <noscript>
                     <img src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/505W-Q122_0.jpg?v=1643881448&width=1200" class="img-fit" width="1600" height="2196" alt="">
                  </noscript>
               </div>
               <div class="overlay" style="background-color: rgba(0, 0, 0, 0.1);">
                  <div class="inner">
                     <h2 class="overlay__block cc-animate-init -in cc-animate-complete" data-cc-animate="" data-cc-animate-delay="0.1s" style="">Suntoucher</h2>
                     <span class="overlay__block feature-link cc-animate-init -in cc-animate-complete" data-cc-animate="" data-cc-animate-delay="0.3s" style="">Shop now</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="column-third img-block block-image-1">
            <a class="img-block__img-wrapper cc-zoom-out cc-animate-init -in cc-animate-complete" href="/collections/new-arrivals" data-cc-animate="cc-zoom-out">
               <div class="lazyload-placeholder loaded" style="padding-top: 137.25%;">
                  <picture>
                     <source data-srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=640 640w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=750 750w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=856 856w" media="(max-width: 480px)" width="428" height="587" sizes="705.2823315118396px" srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=640 640w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=750 750w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=856 856w">
                     <img data-srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=300 300w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=480 480w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=600 600w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=800 800w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=960 960w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=1200 1200w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=1600 1600w" data-src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=1200" data-sizes="auto" data-aspectratio="0.7285974499089253" data-parent-fit="cover" class="img-fit lazyautosizes ls-is-cached lazyloaded" width="1600" height="2196" alt="" sizes="705.2823315118396px" srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=300 300w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=480 480w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=600 600w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=800 800w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=960 960w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=1200 1200w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=1600 1600w" src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=1200">
                  </picture>
                  <noscript>
                     <img src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&width=1200" class="img-fit" width="1600" height="2196" alt="">
                  </noscript>
               </div>
               <div class="overlay" style="background-color: rgba(0, 0, 0, 0.1);">
                  <div class="inner">
                     <h2 class="overlay__block cc-animate-init -in cc-animate-complete" data-cc-animate="" data-cc-animate-delay="0.1s" style="">New Arrivals</h2>
                     <span class="overlay__block feature-link cc-animate-init -in cc-animate-complete" data-cc-animate="" data-cc-animate-delay="0.3s" style="">Explore now</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="column-third img-block block-image-2">
            <a class="img-block__img-wrapper cc-zoom-out cc-animate-init -in cc-animate-complete" href="/collections/recycools-collection" data-cc-animate="cc-zoom-out">
               <div class="lazyload-placeholder loaded" style="padding-top: 125.0%;">
                  <picture>
                     <source data-srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=640 640w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=750 750w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=856 856w" media="(max-width: 480px)" width="428" height="535" sizes="774.4000000000001px" srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=640 640w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=750 750w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=856 856w">
                     <img data-srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=300 300w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=480 480w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=600 600w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=800 800w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=960 960w" data-src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=1200" data-sizes="auto" data-aspectratio="0.8" data-parent-fit="cover" class="img-fit lazyautosizes ls-is-cached lazyloaded" width="1080" height="1350" alt="" sizes="774.4000000000001px" srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=300 300w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=480 480w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=600 600w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=800 800w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=960 960w" src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=1200">
                  </picture>
                  <noscript>
                     <img src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&width=1200" class="img-fit" width="1080" height="1350" alt="">
                  </noscript>
               </div>
               <div class="overlay" style="background-color: rgba(0, 0, 0, 0.1);">
                  <div class="inner">
                     <h2 class="overlay__block cc-animate-init -in cc-animate-complete" data-cc-animate="" data-cc-animate-delay="0.1s" style="">Recycools</h2>
                     <span class="overlay__block feature-link cc-animate-init -in cc-animate-complete" data-cc-animate="" data-cc-animate-delay="0.3s" style="">Shop now</span>
                  </div>
               </div>
            </a>
         </div>
      </div>
   </div>
</div>



{% schema %}
{
  "name": "Image",
       "tag": "section",
  "class": "section",
  "settings": [
       {
           "type": "image_picker",
           "label": "Image",
           "id": "image"
       }

  ],
  "presets": [
    {
      "name": "image gallery"
    }
  ]
}
{% endschema %}

{% stylesheet %}
    
{% endstylesheet %}