{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.adapt_height_first_image and section.settings.image != blank -%}
  {%- style -%}
  @media screen and (max-width: 749px) {
    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media::before,
    #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  }

  @media screen and (min-width: 750px) {
    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}

<!--<div id="Banner-{{ section.id }}" class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}">
  {%- if section.settings.image != blank -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}">
      <img
        srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if section.settings.image.width >= 550 -%}{{ section.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
        sizes="{% if section.settings.image_2 != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image_2 != blank %}50vw{% else %}100vw{% endif %}"
        src="{{ section.settings.image | image_url: width: 1500 }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
        {% if section.settings.image_2 != blank %}class="banner__media-image-half"{% endif %}
      >
    </div>
  {%- elsif section.settings.image_2 == blank -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}">
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
  {%- if section.settings.image_2 != blank -%}
    <div class="banner__media media{% if section.settings.image != blank %} banner__media-half{% endif %}">
      <img
        srcset="{%- if section.settings.image_2.width >= 375 -%}{{ section.settings.image_2 | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if section.settings.image_2.width >= 750 -%}{{ section.settings.image_2 | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if section.settings.image_2.width >= 1100 -%}{{ section.settings.image_2 | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if section.settings.image_2.width >= 1500 -%}{{ section.settings.image_2 | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if section.settings.image_2.width >= 1780 -%}{{ section.settings.image_2 | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if section.settings.image_2.width >= 2000 -%}{{ section.settings.image_2 | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if section.settings.image_2.width >= 3000 -%}{{ section.settings.image_2 | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if section.settings.image_2.width >= 3840 -%}{{ section.settings.image_2 | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ section.settings.image_2 | image_url }} {{ section.settings.image_2.width }}w"
        sizes="{% if section.settings.image != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image != blank %}50vw{% else %}100vw{% endif %}"
        src="{{ section.settings.image_2 | image_url: width: 1500 }}"
        loading="lazy"
        alt="{{ section.settings.image_2.alt | escape }}"
        width="{{ section.settings.image_2.width }}"
        height="{{ section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio }}"
        {% if section.settings.image != blank %}class="banner__media-image-half"{% endif %}
      >
    </div>
  {%- endif -%}
  <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width">
    <div class="banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 class="banner__heading {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
              <span>{{ block.settings.heading | escape }}</span>
            </h2>
          {%- when 'text' -%}
            <div class="banner__text {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
              <span>{{ block.settings.text | escape }}</span>
            </div>
          {%- when 'buttons' -%}
            <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
              {%- if block.settings.button_label_1 != blank -%}
                <a{% if block.settings.button_link_1 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_1 }}"{% endif %} class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_1 | escape }}</a>
              {%- endif -%}
              {%- if block.settings.button_label_2 != blank -%}
                <a{% if block.settings.button_link_2 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_2 | escape }}</a>
              {%- endif -%}

            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>-->

<div id="shopify-section-template--15778129412324__slideshow" class="shopify-section banner-candidate active-banner"><style data-shopify="">#template--15778129412324__slideshow .slide__image::after {
  background-color: rgba(0, 0, 0, 0.1);
}
#template--15778129412324__slideshow .text-overlay { color: #ffffff; }
#template--15778129412324__slideshow .text-overlay--bg .slide-btn:hover {
  border-color: #ffffff;
  background: #ffffff; 
  color: #000000;
}</style><div class="slideshow-section" id="template--15778129412324__slideshow" data-section-type="slideshow">

<div class="slideshow viewport-height slick-initialized slick-slider" data-transition="slide" data-autoplay="true" data-autoplay-speed="5" data-carousel="true"><div aria-live="polite" class="slick-list draggable"><div class="slick-track" aria-label="Image slider" role="listbox" style="opacity: 1; width: 1676px; transform: translate3d(0px, 0px, 0px);"><div class="slide block-1 content-align-center content-valign-center slick-slide slick-current slick-active" data-index="1" data-slick-index="0" aria-hidden="false" style="width: 838px;" tabindex="-1" role="option">
        <div class="slide__image has-overlay lazyload-placeholder loaded"><picture><source data-srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8428-_3.jpg?crop=center&amp;height=1500&amp;v=1644259777&amp;width=750 750w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8428-_3.jpg?crop=center&amp;height=1712&amp;v=1644259777&amp;width=856 856w" media="(max-width: 480px)" width="428" height="856" srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8428-_3.jpg?crop=center&amp;height=1500&amp;v=1644259777&amp;width=750 750w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8428-_3.jpg?crop=center&amp;height=1712&amp;v=1644259777&amp;width=856 856w"><img data-srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8428-_3.jpg?v=1644259777&amp;width=600 600w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8428-_3.jpg?v=1644259777&amp;width=960 960w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8428-_3.jpg?v=1644259777&amp;width=1200 1200w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8428-_3.jpg?v=1644259777&amp;width=1440 1440w" data-src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8428-_3.jpg?v=1644259777&amp;width=960" data-sizes="(max-aspect-ratio: 1/2) 50vh, 50vw" src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8428-_3.jpg?v=1644259777&amp;width=960" class="img-fit img-fit--center img-fit--mob-center lazyloaded" width="1600" height="2196" alt="" sizes="(max-aspect-ratio: 1/2) 50vh, 50vw" srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8428-_3.jpg?v=1644259777&amp;width=600 600w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8428-_3.jpg?v=1644259777&amp;width=960 960w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8428-_3.jpg?v=1644259777&amp;width=1200 1200w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8428-_3.jpg?v=1644259777&amp;width=1440 1440w"></picture>
            <noscript>
              <img class="img-fit img-fit--mob-center img-fit--center" src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8428-_3.jpg?v=1644259777&width=1680" width="1600" height="2196" alt="">
            </noscript></div><div class="text-overlay text-overlay--stacked-no-pad transition"><h2 class="text-overlay__heading slide__heading h0">
                New Arrivals
              </h2><div class="text-overlay__text slide__text large-text rte">
                <p>We believe in good times and good vibes. Join the club!</p>
              </div><div class="slide__btns"><a href="/collections/" class="slide-btn button button--hollow" tabindex="0">Shop the capsule</a></div></div></div><div class="slide block-2 content-align-center content-valign-center slick-slide slick-active" data-index="2" data-slick-index="1" aria-hidden="false" style="width: 838px;" tabindex="-1" role="option">
        <div class="slide__image has-overlay lazyload-placeholder loaded"><picture><source data-srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8082.jpg?crop=center&amp;height=1500&amp;v=1643881925&amp;width=750 750w" media="(max-width: 480px)" width="428" height="856" srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8082.jpg?crop=center&amp;height=1500&amp;v=1643881925&amp;width=750 750w"><img data-srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8082.jpg?v=1643881925&amp;width=600 600w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8082.jpg?v=1643881925&amp;width=960 960w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8082.jpg?v=1643881925&amp;width=1200 1200w" data-src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8082.jpg?v=1643881925&amp;width=960" data-sizes="(max-aspect-ratio: 1/2) 50vh, 50vw" src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8082.jpg?v=1643881925&amp;width=960" class="img-fit img-fit--center img-fit--mob-center lazyloaded" width="1200" height="1500" alt="" sizes="(max-aspect-ratio: 1/2) 50vh, 50vw" srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8082.jpg?v=1643881925&amp;width=600 600w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8082.jpg?v=1643881925&amp;width=960 960w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8082.jpg?v=1643881925&amp;width=1200 1200w"></picture>
            <noscript>
              <img class="img-fit img-fit--mob-center img-fit--center" src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8082.jpg?v=1643881925&width=1680" width="1200" height="1500" alt="">
            </noscript></div><div class="text-overlay text-overlay--stacked-no-pad transition"><h2 class="text-overlay__heading slide__heading h0">
                Holidazed
              </h2><div class="text-overlay__text slide__text large-text rte">
                <p>Inspired by our members, real girls real life.</p>
              </div><div class="slide__btns"><a href="/collections/all" class="slide-btn button button--hollow" tabindex="0">Shop now</a></div></div></div></div></div></div>
</div>


</div>





{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "adapt_height_first_image",
      "default": false,
      "label": "t:sections.image-banner.settings.adapt_height_first_image.label",
      "info": "t:sections.image-banner.settings.adapt_height_first_image.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.image-banner.settings.color_scheme.info"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
#template--15778129412324__slideshow .slide__image::after {
  background-color: rgba(0, 0, 0, 0.1);
}
#template--15778129412324__slideshow .text-overlay { color: #ffffff; }
#template--15778129412324__slideshow .text-overlay--bg .slide-btn:hover {
  border-color: #ffffff;
  background: #ffffff;
  color: #000000;
}

.slideshow .slick-track {
  display: flex;
  height: 100%;
}
.slick-track {
  display: block;
  position: relative;
  top: 0;
  left: 0;
}

.slideshow .slick-list {
  height: 100%;
}

.slick-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.slick-list, .slick-track {
  transform: translate(0);
}
.slideshow {
  overflow: hidden;
}

.viewport-height {
  min-height: var(--viewport-height, 100vh);
  max-height: 1080px;
}
.slick-slider {
  display: block;
  position: relative;
  -webkit-touch-callout: none;
  touch-action: pan-y;
  -webkit-user-select: none;
  user-select: none;
}
.slideshow.slick-initialized .slick-slide {
  display: flex;
}
.js .active-banner:first-child .viewport-height, .js .active-banner:first-child .viewport-height .slide {
  min-height: var(--viewport-height, 100vh);
}
.js body:not(.user-is-tabbing) .slide, .js body:not(.user-is-tabbing) .slide .slide-btn {
  outline: none!important;
}

.slideshow.slick-initialized .slick-slide {
  display: flex;
}
.js .viewport-height .slide {
  min-height: var(--viewport-height, 100vh);
  max-height: 1080px;
}
.js .active-banner:first-child {
  margin-top: calc(var(--header-height) * -1);
}

.cc-animate-enabled .shopify-section:not(.section-header) {
  overflow: initial;
}
.js .active-banner:first-child .viewport-height, .js .active-banner:first-child .viewport-height .slide {
  min-height: var(--viewport-height, 100vh);
}
.viewport-height, .viewport-height .slide {
  min-height: calc(var(--viewport-height, 100vh) - var(--header-height, 96px) + 26px);
}

.slideshow {
  overflow: hidden;
}
.viewport-height {
  min-height: var(--viewport-height, 100vh);
  max-height: 1080px;
}
.slick-list, .slick-track {
  transform: translate(0);
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slide__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lazyload-placeholder {
  position: relative;
  overflow: hidden;
  background: #8b0b0b;
}
#template--15778129412324__slideshow .text-overlay {
  color: #ffffff;
}
.js .active-banner:first-child .text-overlay {
  margin-top: calc(var(--header-height) + 20px);
}
.has-overlay:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .5s ease-out;
  opacity: 0;
}
@media (min-width: 768px){
.js .active-banner:first-child .text-overlay {
  margin-top: calc(var(--header-height) + 40px);
}
.js .active-banner:first-child .text-overlay {
  margin-top: calc(var(--header-height) + 20px);
}
}
@media (min-width: 992px){
.banner-candidate:first-child .text-overlay {
  margin-bottom: 90px;
}
}
@media (min-width: 768px){
.banner-candidate:first-child .text-overlay {
  margin-bottom: 70px;
}
}
@media (min-width: 768px){
.slideshow .text-overlay {
  margin-right: 80px;
  margin-left: 80px;
}
}
@media (min-width: 992px){
.text-overlay {
  max-width: calc(50vw - 40px);
  margin: 60px 40px;
}
}
@media (min-width: 768px){
.text-overlay {
  margin: 40px 30px;
}

.text-overlay {
  display: inline-block;
  position: relative;
  z-index: 2;
  max-width: 480px;
  margin: 30px 20px;
}
}

.js .section-header { position: -webkit-sticky; position: sticky; }
  .viewport-height, .viewport-height .slide {
    min-height: calc(var(--viewport-height, 100vh) - var(--header-height, 96px) + 26px);
  }.js .section-header { height: var(--header-height) }
  .js .scrolled-down .section-header { height: calc(var(--header-height) - 13px); }
  .js .active-banner:first-child { margin-top: calc(var(--header-height) * -1); }
  .js .active-banner:first-child .viewport-height,
  .js .active-banner:first-child .viewport-height .slide { min-height: var(--viewport-height, 100vh); }
  .js .active-banner:first-child .text-overlay { margin-top: calc(var(--header-height) + 20px); }
  @media (max-width: 480px) {
    .js .active-banner:first-child .mobile-stacked .text-overlay { margin-top: 0; }
  }
  @media (min-width: 768px) {
    .js .active-banner:first-child .text-overlay { margin-top: calc(var(--header-height) + 40px); }
  }.logo__image { max-width: 135px; }
min-height: var(--viewport-height, 100vh);  /* min-height: var(--viewport-height, 100vh); */  min-height: var(--viewport-height, 100vh);  /* min-height: var(--viewport-height, 100vh); */ 
min-height: calc(var(--viewport-height, 100vh) - var(--header-height, 96px) + 26px);

/* min-height: calc(var(--viewport-height, 100vh) - var(--header-height, 96px) + 26px); */
min-height: var(--viewport-height, 100vh);  /* min-height: var(--viewport-height, 100vh); */ 
{% endstylesheet %}