<div id="shopify-section-template--15778129412324__image-gallery" class="shopify-section section-gallery">
   <style data-shopify="">
      .block-image-0 .overlay .inner {
      color: #ffffff;
      }.block-image-1 .overlay .inner {
      color: #ffffff;
      }.block-image-2 .overlay .inner {
      color: #ffffff;
      }
   </style>



   <div data-section-type="gallery" data-cc-animate="" class="cc-animate-init -in cc-animate-complete">
      <div class="flexible-layout">
         <div class="column-third img-block block-image-0">
            <a class="img-block__img-wrapper cc-zoom-out cc-animate-init -in cc-animate-complete" href="{{ section.settings.text_url }}" data-cc-animate="cc-zoom-out">
               <div class="lazyload-placeholder loaded" style="padding-top: 137.25%;">
                  <picture>
                     <!--<source data-srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/505W-Q122_0.jpg?v=1643881448&amp;width=640 640w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/505W-Q122_0.jpg?v=1643881448&amp;width=750 750w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/505W-Q122_0.jpg?v=1643881448&amp;width=856 856w" media="(max-width: 480px)" width="428" height="587" sizes="705.2823315118396px" srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/505W-Q122_0.jpg?v=1643881448&amp;width=640 640w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/505W-Q122_0.jpg?v=1643881448&amp;width=750 750w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/505W-Q122_0.jpg?v=1643881448&amp;width=856 856w">-->
                     <img
                        srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
                        {%- if section.settings.image.width >= 550 -%}{{ section.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                        {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                        {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                        {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
                        {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
                        {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                        {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
                        {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
                        src="{{ section.settings.image | image_url: width: 1500 }}"
                        class="img-fit lazyautosizes ls-is-cached lazyloaded"
                        loading="lazy"
                        alt="{{ section.settings.image.alt | escape }}"
                        width="{{ section.settings.image.width }}"
                        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
                    >
                  </picture>
                  <noscript>
                     <img src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/505W-Q122_0.jpg?v=1643881448&width=1200" class="img-fit" width="1600" height="2196" alt="">
                  </noscript>
               </div>
               <div class="overlay" style="background-color: rgba(0, 0, 0, 0.1);">
                  <div class="inner">
                     <h2 class="overlay__block cc-animate-init -in cc-animate-complete" data-cc-animate="" data-cc-animate-delay="0.1s" style="">Suntoucher</h2>
                     <span class="overlay__block feature-link cc-animate-init -in cc-animate-complete" data-cc-animate="" data-cc-animate-delay="0.3s" style="">Shop now</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="column-third img-block block-image-1">
            <a class="img-block__img-wrapper cc-zoom-out cc-animate-init -in cc-animate-complete" href="{{ section.settings.text_url2 }}" data-cc-animate="cc-zoom-out">
               <div class="lazyload-placeholder loaded" style="padding-top: 137.25%;">
                  <picture>
                     <!--<source data-srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=640 640w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=750 750w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=856 856w" media="(max-width: 480px)" width="428" height="587" sizes="705.2823315118396px" srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=640 640w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=750 750w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=856 856w">
                     <img data-srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=300 300w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=480 480w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=600 600w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=800 800w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=960 960w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=1200 1200w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=1600 1600w" data-src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=1200" data-sizes="auto" data-aspectratio="0.7285974499089253" data-parent-fit="cover" class="img-fit lazyautosizes ls-is-cached lazyloaded" width="1600" height="2196" alt="" sizes="705.2823315118396px" srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=300 300w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=480 480w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=600 600w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=800 800w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=960 960w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=1200 1200w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=1600 1600w" src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&amp;width=1200">-->
                    <img
                        srcset="{%- if section.settings.image_2.width >= 375 -%}{{ section.settings.image_2 | image_url: width: 375 }} 375w,{%- endif -%}
                        {%- if section.settings.image_2.width >= 550 -%}{{ section.settings.image_2 | image_url: width: 550 }} 550w,{%- endif -%}
                        {%- if section.settings.image_2.width >= 750 -%}{{ section.settings.image_2 | image_url: width: 750 }} 750w,{%- endif -%}
                        {%- if section.settings.image_2.width >= 1100 -%}{{ section.settings.image_2 | image_url: width: 1100 }} 1100w,{%- endif -%}
                        {%- if section.settings.image_2.width >= 1500 -%}{{ section.settings.image_2 | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {%- if section.settings.image_2.width >= 1780 -%}{{ section.settings.image_2 | image_url: width: 1780 }} 1780w,{%- endif -%}
                        {%- if section.settings.image_2.width >= 2000 -%}{{ section.settings.image_2 | image_url: width: 2000 }} 2000w,{%- endif -%}
                        {%- if section.settings.image_2.width >= 3000 -%}{{ section.settings.image_2 | image_url: width: 3000 }} 3000w,{%- endif -%}
                        {%- if section.settings.image_2.width >= 3840 -%}{{ section.settings.image_2 | image_url: width: 3840 }} 3840w,{%- endif -%}
                        {{ section.settings.image_2 | image_url }} {{ section.settings.image_2.width }}w"
                        src="{{ section.settings.image_2 | image_url: width: 1500 }}"
                        class="img-fit lazyautosizes ls-is-cached lazyloaded"
                        loading="lazy"
                        alt="{{ section.settings.image_2.alt | escape }}"
                        width="{{ section.settings.image_2.width }}"
                        height="{{ section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio }}"
                    >    
                  </picture>
                  <noscript>
                     <img src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/A34I8351.jpg?v=1643881546&width=1200" class="img-fit" width="1600" height="2196" alt="">
                  </noscript>
               </div>
               <div class="overlay" style="background-color: rgba(0, 0, 0, 0.1);">
                  <div class="inner">
                     <h2 class="overlay__block cc-animate-init -in cc-animate-complete" data-cc-animate="" data-cc-animate-delay="0.1s" style="">New Arrivals</h2>
                     <span class="overlay__block feature-link cc-animate-init -in cc-animate-complete" data-cc-animate="" data-cc-animate-delay="0.3s" style="">Explore now</span>
                  </div>
               </div>
            </a>
         </div>
         <div class="column-third img-block block-image-2">
            <a class="img-block__img-wrapper cc-zoom-out cc-animate-init -in cc-animate-complete" href="{{ section.settings.text_url3 }}" data-cc-animate="cc-zoom-out">
               <div class="lazyload-placeholder loaded" style="padding-top: 125.0%;">
                  <picture>
                     <!--<source data-srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=640 640w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=750 750w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=856 856w" media="(max-width: 480px)" width="428" height="535" sizes="774.4000000000001px" srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=640 640w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=750 750w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=856 856w">
                     <img data-srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=300 300w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=480 480w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=600 600w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=800 800w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=960 960w" data-src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=1200" data-sizes="auto" data-aspectratio="0.8" data-parent-fit="cover" class="img-fit lazyautosizes ls-is-cached lazyloaded" width="1080" height="1350" alt="" sizes="774.4000000000001px" srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=300 300w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=480 480w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=600 600w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=800 800w, //cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=960 960w" src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&amp;width=1200">-->
                        <img
                            srcset="{%- if section.settings.image_3.width >= 375 -%}{{ section.settings.image_3 | image_url: width: 375 }} 375w,{%- endif -%}
                            {%- if section.settings.image_3.width >= 550 -%}{{ section.settings.image_3 | image_url: width: 550 }} 550w,{%- endif -%}
                            {%- if section.settings.image_3.width >= 750 -%}{{ section.settings.image_3 | image_url: width: 750 }} 750w,{%- endif -%}
                            {%- if section.settings.image_3.width >= 1100 -%}{{ section.settings.image_3 | image_url: width: 1100 }} 1100w,{%- endif -%}
                            {%- if section.settings.image_3.width >= 1500 -%}{{ section.settings.image_3 | image_url: width: 1500 }} 1500w,{%- endif -%}
                            {%- if section.settings.image_3.width >= 1780 -%}{{ section.settings.image_3 | image_url: width: 1780 }} 1780w,{%- endif -%}
                            {%- if section.settings.image_3.width >= 2000 -%}{{ section.settings.image_3 | image_url: width: 2000 }} 2000w,{%- endif -%}
                            {%- if section.settings.image_3.width >= 3000 -%}{{ section.settings.image_3 | image_url: width: 3000 }} 3000w,{%- endif -%}
                            {%- if section.settings.image_3.width >= 3840 -%}{{ section.settings.image_3 | image_url: width: 3840 }} 3840w,{%- endif -%}
                            {{ section.settings.image_3 | image_url }} {{ section.settings.image_3.width }}w"
                            src="{{ section.settings.image_3 | image_url: width: 1500 }}"
                            class="img-fit lazyautosizes ls-is-cached lazyloaded"
                            loading="lazy"
                            alt="{{ section.settings.image_3.alt | escape }}"
                            width="{{ section.settings.image_3.width }}"
                            height="{{ section.settings.image_3.width | divided_by: section.settings.image_3.aspect_ratio }}"
                        >    
                    </picture>
                  <noscript>
                     <img src="//cdn.shopify.com/s/files/1/0623/1559/3956/files/271474247_3456496524474861_7372086529365969756_n.jpg?v=1642774701&width=1200" class="img-fit" width="1080" height="1350" alt="">
                  </noscript>
               </div>
               <div class="overlay" style="background-color: rgba(0, 0, 0, 0.1);">
                  <div class="inner">
                     <h2 class="overlay__block cc-animate-init -in cc-animate-complete" data-cc-animate="" data-cc-animate-delay="0.1s" style="">Recycools</h2>
                     <span class="overlay__block feature-link cc-animate-init -in cc-animate-complete" data-cc-animate="" data-cc-animate-delay="0.3s" style="">Shop now</span>
                  </div>
               </div>
            </a>
         </div>
      </div>
   </div>
</div>



{% schema %}
{
  "name": "Image gallery",
       "tag": "section",
  "class": "section",
  "settings": [
       {
           "type": "image_picker",
           "label": "First Image",
           "id": "image"
       },
       {
           "type": "url",
           "label": "Add link",
           "id": "text_url"
       },
       {
           "type": "image_picker",
           "label": "Second Image",
           "id": "image_2"
       },
       {
           "type": "url",
           "label": "Add link",
           "id": "text_url2"
       },
       {
           "type": "image_picker",
           "label": "Third Image",
           "id": "image_3"
       },
       {
           "type": "url",
           "label": "Add link",
           "id": "text_url3"
       }
  ]/*,
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
           "label": "Image",
           "id": "image-1"
        },
        {
          "type": "image_picker",
           "label": "Image",
           "id": "image-2"
        },
        {
          "type": "image_picker",
           "label": "Image",
           "id": "image-3"
        }
      ]
    }
    ]*/,
  "presets": [
    {
      "name": "image gallery"
    }
  ]
}
{% endschema %}

{% stylesheet %}
    
{% endstylesheet %}

{% javascript %}
    /// Gallery
      // Variant images
      $(document).on('variantImageSelected', '.media-gallery', function (e, data) {
        // Get image src
        var variantSrc = data.featured_media.preview_image.src.split('?')[0].replace(/http[s]?:/, '');

        // Locate matching thumbnail & click it
        var $thumb = $(this).find('.thumb[href^="' + variantSrc + '"]:first');
        $thumb.trigger('click');

        // Scroll thumbnails to ensure active thumb is visible
        var $thumbScroller = $(this).find('.thumbnails__scroller');

        if ($thumbScroller.length) {
          if (window.innerWidth >= 992) {
            $thumbScroller.animate({
              scrollTop: $thumbScroller.scrollTop() + ($thumb.offset().top - $thumbScroller.offset().top) },
            500);
          } else {
            $thumbScroller.animate({
              scrollLeft: $thumbScroller.scrollLeft() + ($thumb.offset().left - $thumbScroller.offset().left) },
            500);
          }
        }
      });

      $(document).on('click', '.js-prod-qty', function () {
        var $qtyInput = $(this).closest('.qty-selector').find('input.quantity');
        var currValue = parseInt($qtyInput.val());
        var newValue = $(this).data('direction') === '+' ? currValue += 1 : currValue -= 1;

        $qtyInput.val(Math.max(1, newValue));
      });

      // Hide the footer on the challenge page
      if (window.location.href.indexOf('/challenge') > 0 && window.location.href.indexOf('/pages') === -1) {
        document.getElementById('pagefooter').style.display = 'none';
      }

      // On any section load
      $(document).on('shopify:section:load', function (e) {
        theme.checkForBannerBehindHeader();
        document.getElementById('main-menu-disclosure').open = true;

        if (e.target.id === 'shopify-section-header') {
          setTimeout(() => {
            theme.setHeaderHeight();
            theme.checkMenuPadding();
          }, 10);
        } else if (e.target.id === 'shopify-section-announcement') {
          theme.setViewportHeight();
        }
      });

      // On any section unload
      $(document).on('shopify:section:unload', function () {
        setTimeout(() => {
          theme.checkForBannerBehindHeader();

          if ($('html').hasClass('open-menu')) {
            $('#main-menu .lazyload-manual').removeClass('lazyload-manual').addClass('lazyload');
          }
        }, 10);
      });

      // On any section reorder
      $(document).on('shopify:section:reorder', function () {
        theme.checkForBannerBehindHeader();
      });
    }

    // General lightbox for all
    $('a[rel=lightbox]').colorbox({ maxWidth: '94%' });

    // Galleries (only on large screens)
    if ($(window).height() >= theme.lightbox_min_window_height && $(window).width() >= theme.lightbox_min_window_width) {
      $('a[rel="gallery"]').colorbox({ rel: 'gallery', maxWidth: '94%' });
    }

    $(document).on('click', '.size-chart-link', function () {
      $.colorbox({
        html: $('.size-chart-content').html(),
        maxWidth: '94%' });

      return false;
    });
{% endjavascript %}