{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }
  }
{%- endstyle -%}

<!--<div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient">
  <div class="collection-hero__inner page-width">
    <div class="collection-hero__text-wrapper">
      <h1 class="collection-hero__title">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>

      {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte">{{ collection.description }}</div>
      {%- endif -%}
    </div>

    {%- if section.settings.show_collection_image and collection.image -%}
      <div class="collection-hero__image-container media gradient">
        <img
          srcset="{%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
            {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
            {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {{ collection.image | image_url }} {{ collection.image.width }}w"
          src="{{ collection.image | image_url: width: 750 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
          alt="{{ collection.title | escape }}"
          width="{{ collection.image.width }}"
          height="{{ collection.image.height }}"
        >
      </div>
    {%- endif -%}
  </div>
</div>
-->

<div id="shopify-section-template--15778129379556__hero" class="shopify-section section-banner banner-candidate active-banner">
   <div class="banner banner--bg banner--bg-image">
      <div class="banner__image lazyload-placeholder loaded">
         <picture>
            <source data-srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/collections/all.jpg?crop=center&amp;height=752&amp;v=1644426245&amp;width=805" media="(max-width: 480px)" width="805" height="752" srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/collections/all.jpg?crop=center&amp;height=752&amp;v=1644426245&amp;width=805">
            <img data-srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/collections/all.jpg?v=1644426245&amp;width=1366 1366w, //cdn.shopify.com/s/files/1/0623/1559/3956/collections/all.jpg?v=1644426245&amp;width=1600 1600w, //cdn.shopify.com/s/files/1/0623/1559/3956/collections/all.jpg?v=1644426245&amp;width=1920 1920w" data-src="//cdn.shopify.com/s/files/1/0623/1559/3956/collections/all.jpg?v=1644426245&amp;width=1600" class="img-fit lazyloaded" width="2000" height="752" alt="Shop all" style="object-position: center;" srcset="//cdn.shopify.com/s/files/1/0623/1559/3956/collections/all.jpg?v=1644426245&amp;width=1366 1366w, //cdn.shopify.com/s/files/1/0623/1559/3956/collections/all.jpg?v=1644426245&amp;width=1600 1600w, //cdn.shopify.com/s/files/1/0623/1559/3956/collections/all.jpg?v=1644426245&amp;width=1920 1920w" src="//cdn.shopify.com/s/files/1/0623/1559/3956/collections/all.jpg?v=1644426245&amp;width=1600">
         </picture>
      </div>
      <span class="banner__overlay"></span>
      <div class="banner__text container reading-width cc-animate-init -in cc-animate-complete" data-cc-animate="">
         <h1>Shop all</h1>
         <div class="rte reading-width align-center large-text cc-animate-init -in cc-animate-complete" data-cc-animate="" data-cc-animate-delay="0.1s" style="">
            <meta charset="utf-8">
            <span data-mce-fragment="1">This is a demonstration of the Alchemy theme for Shopify. Joyful everyday women's clothing by&nbsp;</span><a href="https://coolsclub.co/" title="Cools Club" data-mce-fragment="1" data-mce-href="https://coolsclub.co/" target="_blank">Cools Club</a>
         </div>
      </div>
      <script type="application/ld+json">
         {
           "@context": "https://schema.org",
           "@type": "BreadcrumbList",
           "itemListElement": [
             {
               "@type": "ListItem",
               "position": 1,
               "name": "Home",
               "item": "https:\/\/alchemy-theme-modern.myshopify.com\/"
             },{
                 "@type": "ListItem",
                 "position": 2,
                 "name": "Shop all",
                 "item": "https:\/\/alchemy-theme-modern.myshopify.com\/collections\/shop-all"
               }]
         }
      </script>
      <nav class="breadcrumbs" aria-label="Breadcrumbs">
         <ol class="breadcrumbs-list">
            <li class="breadcrumbs-list__item">
               <a class="breadcrumbs-list__link" href="/">Home</a> 
               <span class="icon">
                  <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                     <title>Right</title>
                     <path fill="currentColor" d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path>
                  </svg>
               </span>
            </li>
            <li class="breadcrumbs-list__item">
               <a class="breadcrumbs-list__link" href="/collections/shop-all" aria-current="page">Shop all</a>
            </li>
         </ol>
      </nav>
   </div>
</div>



{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    }
  ]
}
{% endschema %}


{% stylesheet %}
  .js .active-banner:first-child {
    margin-top: calc(var(--header-height) * -1);
}

.cc-animate-enabled .shopify-section:not(.section-header) {
    overflow: initial;
}
.cc-animate-enabled .shopify-section {
    overflow: hidden;
}

@media (min-width: 768px){
.header-overlapping .shopify-section:first-child .banner.banner--bg:not(.banner--no-breadcrumbs) {
    padding-top: calc(var(--header-height) + 70px);
}
.header-overlapping .shopify-section:first-child .banner.banner--bg {
    padding-top: calc(var(--header-height) + 20px);
}
}
@media (min-width: 768px){
.active-banner .banner.banner--bg {
    padding-bottom: 90px;
}
}
@media (min-width: 1600px){
.banner.banner--bg {
    min-height: 500px;
}
}
@media (min-width: 768px){
.banner.banner--bg {
    min-height: calc(400px + 100 * (100vw - 480px) / 1020);
    padding-bottom: 60px;
}
}
.banner.banner--bg-image {
    color: #fff;
}
.banner.banner--bg {
    min-height: 400px;
    margin: 0;
    padding-bottom: 50px;
}
@media (min-width: 768px){
.banner {
    margin-bottom: 80px;
    padding-top: 80px;
}
}
.banner {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    padding: 40px 20px 0;
}
.lazyload-placeholder.loaded {
    background: none;
}
.banner__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.lazyload-placeholder {
    position: relative;
    overflow: hidden;
    background: #f5f5f5;
}
.banner__image.loaded+.banner__overlay {
    opacity: .15;
}

.banner__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .5s ease-out;
    opacity: 0;
    background: #000000;
}
.cc-animate-enabled [data-cc-animate].-in {
    transition: opacity .7s,transform .7s;
    opacity: 1;
}

@media (min-width: 768px){
.cc-animate-enabled [data-cc-animate] {
    opacity: 0;
}
}
.banner__text {
    position: relative;
    text-align: center;
}
@media (min-width: 992px){
.container {
    width: calc(100% - 80px);
}
}
@media (min-width: 768px){
.container {
    width: calc(100% - 60px);
    margin-right: auto;
    margin-left: auto;
}
}
.reading-width {
    max-width: 45em;
    margin-right: auto;
    margin-left: auto;
}
.header-overlapping .shopify-section:first-child .breadcrumbs {
    top: 96px;
    margin-top: calc(var(--header-height) - 96px);
}

@media (min-width: 992px){
.breadcrumbs {
    padding: 16px 40px 0;
}
}
@media (min-width: 768px){
.breadcrumbs {
    display: flex;
}
}
.breadcrumbs {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    padding: 16px 30px 0;
    font-size: .875em;
    line-height: 1.5;
}
{% endstylesheet %}